{% extends 'base.html.twig' %}

{% block title %}Authors!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="coll mx-auto">
            <h4 class="my-3 text-secondary">Authors:</h4>
                {{ knp_pagination_render(pagination) }}
            <table class="table table-hover text-center">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th scope="col">author</th>
                        <th scope="col">book</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in pagination %}
                    <tr>
                        <td><a href="{{ path('show_author', {id: author.id}) }}" class="nav-link text-dark">{{ author.name }}</td>
                        <td>
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for book in author.books %}
                                <a class="dropdown-item text-primary" href="{{ path('show_book', {id: book.id}) }}">{{ book.title }}</a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
