<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_book') }}">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('app_category') }}">Categories</a>
            <a class="dropdown-item" href="{{ path('app_author') }}">Authors</a>
            <a class="dropdown-item" href="{{ path('app_book') }}">Books</a>
          </div>
        </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ path('message_create') }}">{{ 'Create message' }}</a>
            </li>
      </ul>
        <ul class="navbar-nav mr-right mx-3">
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{ app.user.email }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">login</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">|</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_secured_dashboard') }}">admin</a>
          </li>
      </ul>
    </div>
  </div>
</nav>