{% extends 'admin/layouts/admin_page.html.twig' %}

{% block title_detailed %}Messages{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="coll mx-auto">
            <h4 class="my-3 text-secondary">{{ 'Messages' }}:</h4>
            <table class="table table-hover text-center">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">email</th>
                        <th scope="col">name</th>
                        <th scope="col">message</th>
                        <th scope="col">phone</th>
                        <th scope="col">status</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.ID }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.name }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.phone }}</td>
                        <td>
                        {% if message.delivered %}
                        {{'delivered'}}
                        {% else %}
                            <div class="col-md-6">
                                <a class="nav-link btn text-primary" href="{{ path('admin_message_edit', {id:message.id}) }}">{{ 'Mark as delivered' }}</a>
                            </div>
                        {% endif %}
                        </td>
                        <td class="row">
                            <div class="col-md-6">
                                <form action="{{ path('admin_message_delete', { id: message.id }) }}" method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('admin_message_delete') }}"/>
                                    <button class="nav-link btn text-danger border-0 bg-transparent" type="submit">{{ 'Delete' }}</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
