{% extends 'admin/layouts/admin_page.html.twig' %}

{% block title_detailed %}Edit / Create book{% endblock %}

{% block body %}

<div class="container">
    <div class="row d-flex justify-content-center py-3">
        <div class="col-6">

        {{form_start(form)}}

            {{ form_row(form.title)}}
            {{ form_row(form.isbn)}}
            {{ form_row(form.pageCount)}}
            {{ form_row(form.publishedDate)}}
            {{ form_row(form.thumbnailUrl)}}
            {{ form_row(form.shortDescription)}}
            {{ form_row(form.longDescription)}}
            {{ form_row(form.status)}}
            {{ form_row(form.category)}}
            {{ form_row(form.authors)}}

            {# <ul class="tags"
                data-index="{{ form.authors|length > 0 ? form.authors|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.authors.vars.prototype)|e('html_attr') }}"
            ></ul>
            <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="tags">Add unique author</button> #}

        <input class="form-control btn btn-outline-danger mt-3" type='submit' values='Create'> 
        

        {{form_end(form)}}
        

        </div>
    </div>
</div>

{# {% include 'admin/include/add_script.html.twig' %} #}

{% endblock %}
