{% extends 'admin/layouts/admin_page.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-lx-6 mx-auto">
            <h4 class="my-3 text-primary">Book: <span class="text-dark h5">{{ book.title }}</span></h4>
            <h5 class="my-3">id: {{ book.id }}</h5>

            <div>
                <img src="{{ asset( 'build/images/' ~ book.image) }}"
                    style="width: 70px; height: 99px;"
                    alt="{{ 'image' }}">
            </div>
            <h5 class="my-3">pageCount: {{ book.pageCount }}</h5>
            <h5 class="my-3">publishedDate: {{ time }}</h5>

            <div id="accordion">
            {% if book.shortDescription %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Short description
                        </button>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {{ book.shortDescription }}
                    </div>
                    </div>
                </div>
            {% endif %}
            {% if book.longDescription %}
                <div class="card">
                    <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Long description
                        </button>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {{ book.longDescription }}
                    </div>
                    </div>
                </div>
            {% endif %}
            </div>

            {# <h5 class="my-3">category name:
                <a class="nav nav-link" href="{{ path('admin_show_category', {id: book.category.id}) }}">
                    {% if book.category.name %}
                    {{ book.category.name }}
                    {% endif %}
                </a>
            </h5>

            {% if book.category.subname %}
                <h5 class="my-3">category subname: <span class="text-dark h6">{{ book.category.subname }}</span></h5>
            {% endif %} #}

            <h5 class="my-3">authors: 
                {% for author in book.authors %}
                    <a class="nav nav-link" href="{{ path('admin_show_author', {id: author.id}) }}">{{ author.name }}</a>
                {% endfor %}
            </h5>
                <div class="row">
                    <div class="col-md-6">
                        <a class=" btn btn-primary" href="{{ path('admin_book_edit', {id:book.id}) }}">{{ 'Edit' }}</a>
                    </div>
                    <div class="col-md-6">
                        <form action="{{ path('admin_book_delete', { id: book.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('admin_book_delete') }}"/>
                            <button class="btn btn-danger" type="submit">{{ 'Delete' }}</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}